/* Reset all margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app_buttons_group {
  margin-top: 20px;
}

.app_button {
  margin-right: 5px;
  padding: 10px 13px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}
